@import '../../styles/variables.scss';

.ic__libraries {
  display: flex;
  justify-content: center;
  align-items: center;

  &__bubblesRow {
    margin: 2rem 0;
  }

  &__bubbleWrapper {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
}
